body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #111;
  color: #f5f5f5;
  text-align: center;
}

.hero {
  padding: 5rem 2rem;
  background: linear-gradient(to right, #000, #1a1a1a);
}

.hero h1 {
  font-size: 3rem;
  color: #d4af37;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #ccc;
}

.btn-vip {
  background-color: #d4af37;
  border: none;
  color: black;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-vip:hover {
  background-color: #ffd700;
  box-shadow: 0 0 15px #ffd700;
}

.nosotros {
  padding: 4rem 2rem;
  background-color: #181818;
}

.nosotros h2 {
  color: #d4af37;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.nosotros p {
  font-size: 1.1rem;
  max-width: 700px;
  margin: auto;
  color: #ddd;
}

.productos-destacados {
  padding: 4rem 2rem;
  background-color: #222;
}

.productos-destacados h2 {
  color: #d4af37;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.galeria-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.producto {
  background-color: #1a1a1a;
  border: 1px solid #d4af37;
  border-radius: 10px;
  width: 220px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.1);
}

.producto img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.producto h3 {
  color: #f5f5f5;
  font-size: 1.1rem;
  margin: 0;
}

footer {
  background-color: #000;
  padding: 1rem;
  color: #d4af37;
}
#bloqueado {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #1a1a1a, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.bloqueo-card {
  background-color: #111;
  border: 2px solid #d4af37;
  padding: 2rem 3rem;
  border-radius: 15px;
  text-align: center;
  color: #f5f5f5;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 0 20px rgba(212, 175, 55, 0.3);
  animation: aparecer 0.5s ease-out;
}

.bloqueo-card h2 {
  font-size: 2rem;
  color: #d4af37;
  margin-bottom: 1rem;
}

.bloqueo-card p {
  font-size: 1.1rem;
  color: #ccc;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.logo {
  width: 200px;
  max-width: 90%;
  display: block;
  margin: 2rem auto;

h1{
  cursor: pointer;
  transition: 0.3s;
}

